.background {
  background-color: #151922; /* Color de fondo */
  background-image: url("/TheLibrary.png"); /* Imagen de fondo */
  background-size: cover; /* Para que la imagen cubra todo el área */
  background-position: center; /* Centrar la imagen */
  height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  width: 100%; /* Asegura que ocupe todo el ancho de la ventana */
}

.colorBlanco {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.Imagenes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
